@page "/Boards/PublicVisits/{locationId}"
@inject Services.Board.BoardService BoardService
@inject Services.Location.LocationService  LocationService
@inject Services.VisitCode.VisitCodeService VisitCodeService
<h1>Visits For @GetLocationName()</h1>

<table class="table table-striped table-hover"  data-toggle="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Patient</th>
            <th scope="col">Physician</th>
            <th scope="col">Procedure</th>
            <th scope="col">Status</th>
            <th scope="col">Last Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visit in visits)
        {
        <tr>
            <td>@visit.Patient.MaskedName </td>
            <td>@visit.CurrentPhysician.DisplayName</td>
            <td>@visit.VisitName</td>
            <td>
                <ul class="progress-indicator">
                    @foreach (var visitCode in visitCodes)
                    {
                        @if (visit.VisitStatus.SortOrder > visitCode.SortOrder)
                        {
                            <li class="completed"><span class="bubble"></span>@visitCode.Name</li>
                        }
                        else
                        {
                            <li><span class="bubble"></span>@visitCode.Name</li>
                        }
 
                    }
                </ul>
            </td>
            <td>@visit.LastStatus.ToShortTimeString()</td>
        </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string LocationId { get; set; }


    private List<Data.Tracking.VisitModel> visits;

    private List<Data.Tracking.VisitCodeModel> visitCodes;

    protected string GetLocationName()
    {
        return LocationService.Read(new Guid(LocationId)).Name;
    }

    protected override void OnInitialized()
    {
        visits = BoardService.GetVisits(new Guid(LocationId));
        visitCodes = VisitCodeService.GetVisitCodes();
    }
}
